.history {
  background-color: rgb(244, 246, 248);
  color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.history h2 {
  text-align: center;
  padding: 1%;
  margin: 1%;
  font-weight: 800;
}
