.scrollSnap {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

.scrollSnap::-webkit-scrollbar {
  display: none;
}

.scroll {
  max-height: 100vh;
  overflow-y: scroll;
}

.scroll__Arrow {
  position: absolute;
  color: rgb(244, 246, 248);
}

.homesnap {
  background-color: rgb(244, 246, 248);
  color: black;
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  display: flex;
}

@media (max-width: 650px) {
  .homesnap {
    display: flex;
    flex-direction: column;
  }
}

.homesnap__ContentContainer,
.homesnap__Content {
  width: 50%;
}

@media (max-width: 650px) {
  .homesnap__ContentContainer,
  .homesnap__Content {
    width: 100%;
    height: 50%;
  }
}

.homesnap__ComponentContainer {
  width: 100%;
}

.homesnap__Image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.homesnap__ImageMobile {
  display: none;
}
@media (max-width: 650px) {
  .homesnap__Image {
    display: none;
  }
  .homesnap__ImageMobile {
    padding-top: 10%;
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.homesnap__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
}

.homesnap__Btn {
  display: inline-block;
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.homesnap__Btn:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -7px;
  left: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.homesnap__Btn:hover:after {
  color: rgb(255, 255, 255);
  transform: scaleX(1);
  transform-origin: bottom left;
}
.homesnap__Btn:hover {
  color: rgb(255, 255, 255);
}

.homesnap__TextSection {
  width: 80%;
}

.homesnap__TextSection h1 {
  font-weight: 800;
}
