.about {
  background-color: rgb(244, 246, 248);
  color: black;
}

.about__Container {
  display: flex;
  margin: 0% 10%;
  height: 50vh;
  justify-content: center;
}

.about__Intro,
.about__Partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 2%;
  width: 80%;
}

.about__Intro h1,
.about__Partners h1 {
  margin-bottom: 5%;
}

.about__PartnersCycler {
  margin: 1%;
  overflow: hidden;
  flex-wrap: wrap;
  width: 80%;
  height: 45%;
  background-color: white;
  border-radius: 8%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

.about__PartnersCycler div {
  --animation: slide;
  animation: var(--animation, none) 200s infinite linear;
  height: 420%;
}

.about__Partners img {
  object-fit: contain;
  width: 50%;
  transition: opacity 0.2s;
}

@keyframes slide {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-370%);
  }
  100% {
    transform: translateY(10%);
  }
}

.about__CompanyContainer,
.about__StaffContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__CompanyContainer {
  padding-bottom: 2%;
}

.about__CompanyContainer h1,
.about__StaffContainer h1 {
  padding-bottom: 1%;
}

.about__Staff {
  margin: 0% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about__StaffMember {
  padding: 2% 0%;
  width: 30%;
}

.about__StaffIcon {
  border-radius: 50%;
  height: 200px;
}

.about__StaffTitle {
  position: relative;
  padding-top: 3%;
  padding-bottom: 1%;
  text-align: center;
}

.about__StaffInfo {
  list-style: none;
}

.about__ProfileContainer {
  background-color: rgb(244, 246, 248);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__Profile {
  display: flex;
  padding: 2% 6%;
}

.about__ProfileImage {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.about__ProfileImage img {
  width: 350px;
  border-radius: 5%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

.about__ProfileExit {
  text-align: center;
  width: 50px;
  margin-top: 10%;
}

.about__ProfileInfo {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

.about__ProfileInfo ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about__StaffWebDev {
  text-align: right;
  margin-top: 2%;
  margin-right: 2%;
}
