.header {
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2w;
  width: 100%;
  padding: 1% 0%;
}

.footer,
.header {
  background: #101010;
  color: rgb(214, 214, 214);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.footer p {
  margin: 0;
}

.footer__ArrowDiv {
  background: #101010;
  color: rgb(214, 214, 214);
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.footer__Arrow {
  position: absolute;
}

.initialPos {
  position: initial;
}

.header__logo {
  cursor: pointer;
  display: flex;
  padding-left: 10%;
  width: 80%;
}
.header__Nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.header__Lang {
  display: flex;
  cursor: pointer;
  margin-right: 1%;
}

.header__Lang img:hover {
  object-fit: cover;
  box-sizing: border-box;
}

/* .header__Btn {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  
} */

.header__Btn {
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header__Btn:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -8px;
  left: 0;
  color: white;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.header__Btn:hover:after {
  color: white;
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header__Btn:hover {
  color: white;
}

.header__Active,
.header__Inactive,
.header__LangDivider {
  padding: 5px;
}

.header__Active {
  color: white;
  border-bottom: 1px white solid;
}

.header__Inactive {
  color: rgb(185, 185, 185);
  border-bottom: 1px rgb(0, 0, 0) solid;
}

.header__Btn:active,
.header__logo:active,
.header__LangImages img:active,
.header__Toggle:active {
  transform: translateY(5%);
}

.header__Toggle {
  cursor: pointer;
}
