.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 246, 248);
}

.news h1 {
  padding: 1%;
  margin: 1%;
  font-weight: 800;
}

.news__Cards {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  flex-wrap: wrap;
}

@media (max-width: 650px) {
  .news__Cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.news__Card {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 2%;
  border-radius: 1%;
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 650px) {
  .news__Card {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2%;
    border-radius: 1%;
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  }
}

.news__Card h6 {
  padding: 2% 5% 2% 5%;
  margin: 0;
}

.news__Image {
  margin-top: 2%;
  object-fit: cover;
  width: 30vw;
  height: 30vh;
  border-radius: 2%;
}
@media (max-width: 650px) {
  .news__Image {
    margin-top: 2%;
    object-fit: scale-down;
    width: 70vw;

    border-radius: 2%;
  }
}
.news__Page p {
  color: black;
  cursor: pointer;
}

.news__Article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.news__Article h3 {
  text-align: center;
  font-weight: bold;
  margin: 2% 5% 2% 5%;
  width: 60%;
}

.news__Article img {
  width: 40%;
}

.news__ArticleBody {
  margin: 2% 5% 2% 5%;
  width: 60%;
}
.news__ArticleReturn {
  font-weight: bold;
  cursor: pointer;
}

.newsHome {
  display: flex;
  background-color: rgb(244, 246, 248);
  width: 100%;
  color: black;
  height: 100vh;
}

.newsHome__ImageContainer,
.newsHome__ContentContainer {
  width: 50%;
}

.newsHome__ContentContainer {
  position: relative;
}

@media (max-width: 650px) {
  .newsHome__ImageContainer {
    display: none;
  }
  .newsHome__ContentContainer {
    width: 100%;
  }
}
.newsHome__ContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.newsHome__Image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.newsHome__Title {
  width: 80%;
}

.newsHome__Title h4 {
  font-weight: bold;
  cursor: pointer;
}

.newsHome__Title h4:hover {
  color: rgb(127, 32, 168);
}

.pagination {
  margin: 0;
}

.newsHome__CursorPointer {
  cursor: pointer;
}
