.carousel__Container {
  z-index: 1;
  width: 100%;
  overflow: hidden;
  height: 90vh;
}

.carousel {
  height: 100%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.carousel__Details {
  display: flex;
  text-align: center;
  position: absolute;
  left: 5%;
  bottom: 30%;
}

.carousel .carousel:hover {
  cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next {
  height: 100%;
}

.carousel .carousel-control-prev-icon {
  visibility: hidden;
}
.carousel:hover .carousel-control-prev-icon {
  visibility: visible;
}

.carousel .carousel-control-next-icon {
  visibility: hidden;
}
.carousel:hover .carousel-control-next-icon {
  visibility: visible;
}
