.carousel__Container {
  display: flex;
  justify-content: center;
  background-color: darkgray;
  margin: 0;
  padding: 0.4%;
}

/* Bootstrap classes */
.carousel {
  width: 64vw;
  height: 100%;
}

.carousel:hover {
  cursor: pointer;
}

.carousel__h3 {
  top: 5%;
  left: 45%;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  position: absolute;
  color: rgb(255, 255, 255);
}

.carousel__h3:hover {
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
  height: 100%;
}

.carousel .carousel-control-prev-icon {
  visibility: hidden;
}
.carousel:hover .carousel-control-prev-icon {
  visibility: visible;
}

.carousel .carousel-control-next-icon {
  visibility: hidden;
}
.carousel:hover .carousel-control-next-icon {
  visibility: visible;
}
