.carousel__Container {
  z-index: 1;
  width: 100%;
  scroll-snap-align: start;
  height: 100vh;
  color: rgb(255, 255, 255);
  position: relative;
}

@media (max-width: 650px) {
  .carousel__Container {
    display: none;
  }
}

.carousel {
  overflow: hidden;
  height: 100vh;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
}

.carousel__Arrow {
  display: flex;
  color: rgb(255, 255, 255);
}

.carousel__Details {
  position: absolute;
  width: 100vw;
  text-align: center;
  padding-top: 800px;
  bottom: 30%;
}

.carousel .carousel:hover {
  cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next {
  height: 100%;
}

.carousel .carousel-control-prev-icon {
  visibility: hidden;
}
.carousel:hover .carousel-control-prev-icon {
  visibility: visible;
}

.carousel .carousel-control-next-icon {
  visibility: hidden;
}
.carousel:hover .carousel-control-next-icon {
  visibility: visible;
}
